<p>nidhi works!</p>
<h1>Hello Nidhi</h1>
<h5>new table</h5>

<div class="row">
    <div class="col-lg-3">hii</div>
    <div class="col-lg-3">hey</div>
    <div class="col-lg-3">hello</div>
    <div class="col-lg-3">hlw</div>
</div>

<div>         
  <table>
    <thead>
      <tr>
        <th>Firstname</th>
        <th>Lastname</th>
        <th>Email</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>John</td>
        <td>Doe</td>
        <td>johnexample.com</td>
      </tr>
      <tr>
        <td>Mary</td>
        <td>Moe</td>
        <td>maryexample.com</td>
      </tr>
      <tr>
        <td>July</td>
        <td>Dooley</td>
        <td>julyexample.com</td>
      </tr>
    </tbody>
  </table>
</div>
